<div style="background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/D8qa-2E/rainy-stormy-darkness-wet-weather-background-depressed-sad-background_bzxjr4x7h__F0000.png'); background-repeat: no-repeat;background-attachment: fixed;"> 
  <div class = "container"> 
  <!-- Header -->
  <div class="header" style="background-color: whitesmoke" >
    <h1 style="font-family: cursive">GIPHY WEATHER IMAGES</h1>
  </div>
  <!-- Photo Grid -->
  <div class="row"> 
    <div *ngFor="let image of Imagearray" class="column">
      <img   src="{{image.images.downsized_large.url}}" style="max-width: 100%; border-radius: 30%" >
    </div>
  </div>
</div>

